// CSS for the Medications Index

.list-buttons {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;

  .toggle-list {
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    color: rgb(184, 184, 184);
    background-color: white;
    height: 60px;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .active-button {
    color:rgb(95, 220, 255);
  }
}

.medication-info {
  display: grid;
  grid-template-columns: 60px 230px 60px;
  grid-gap: 10px;
  margin-bottom: 18px;

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 60px;
    color: rgb(184, 184, 184);
    background-color: rgb(255, 71, 71);
    font-size: 40px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    a {
      color: white;
      font-size: 30px;
    }
  }

  .check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 60px;
    margin-right: 14px;
    color: rgb(184, 184, 184);
    background-color: #9DE5AA,;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    a {
      color: white;
      font-size: 30px;
    }
  }
}

#medications-lists {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  .med-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    color: black;

    .name-and-dosage {
      display: flex;
      flex-direction: column;
    }

    .time-and-weekdays {
      display: flex;
      text-align: right;
      flex-direction: column;
    }
  }
}

.float {
  .floating-button {
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9DE5AA,;
    padding: 30px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    i {
      color: white;
      font-size: 40px;
    }
  }
}
