// CSS for the Medications Index

.list-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px 15px;
  justify-content: center;

  .toggle-list {
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
    align-items: center;
    margin: 15px 7px;
    color: rgb(184, 184, 184);
    background-color: white;
    height: 75px;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .active-button {
    color:rgb(95, 220, 255);
  }
}

.medication-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 15px;

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    margin-left: 14px;
    color: rgb(184, 184, 184);
    background-color: rgb(255, 71, 71);
    font-size: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    a {
      color: white;
      font-size: 30px;
    }
  }
}

#medications-lists {
  margin: 5px 25px;
  padding-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  .med-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    color: black;

    .name-and-dosage {
      display: flex;
      flex-direction: column;
    }

    .time-and-weekdays {
      display: flex;
      text-align: right;
      flex-direction: column;
    }
  }
}

.float {
  .floating-button {
    display: flex;
    aspect-ratio: 1 / 1;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9DE5AA,;
    padding: 30px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    i {
      color: white;
      font-size: 40px;
    }
  }
}
