.calendar-frame {
  display: flex;
  justify-content: center;
  position:absolute;
  bottom:250px;
  right:0;
  left:0;
  margin:auto;
  padding: 20px;
}


.flatpickr-calendar::before {
  display: none
}

.flatpickr-calendar::after {
  display: none
}

