// Specific CSS for your home-page
.btn-gradient {
  color: rgb(0, 0, 0);
  // padding: 12px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 25px;
  background: #FCD745;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: #f0c000;
  color: rgb(0, 0, 0);
}

.btn-home {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 22px;
}
.home-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.home-info-1, .home-info-2, .home-info-3 {
  margin: 15px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
  font-weight: bold;
  margin-top: 30%;
}

.home-info-1 {
  animation: fadeIn 3s;
}

.home-info-2 {
  margin-top: 60%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}

.closed-box {
  height: 300px;
  display: flex;
  justify-content: center;
  animation: fadeIn 3s;
}

.open-box {
  height: 400px;
  display: flex;
  justify-content: center;
}
