// Specific CSS for your home-page
.page-container {
  min-height: 80vh;
}

.btn-home {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: bold;
    font-size: 25px;
    background: #ffe26f;
    transition: 0.3s ease;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;

    &:active {
      background: #f0c000;
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
  }
}

.home-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.home-info-text {
  font-weight: 700;
}

.home-info-1, .home-info-2, .home-info-3 {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  margin: 15px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
  margin-top: 170px;
}

.home-info-1 {
  animation: fadeIn 3s;
}

.home-info-2 {
  margin-top: 60%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}

.closed-box {
  display: flex;
  justify-content: center;
  height: 300px;
  animation: fadeIn 3s;
}


.open-box {
  display: flex;
  justify-content: center;
  height: 400px;
  position: fixed;
  transform: translateX(-50%);
  bottom: 3px;
}

.box-frame {
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
}
