.doggie-image-frame {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("backgrounds/park.png");
  background-position: bottom;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  img {
    position: absolute;
    bottom: 0px;
    width: 88%;
    height: 88%;
    object-fit: cover;
    object-position: center;
  }
}

.edit-doggie-frame {
  position: relative;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;

  i {
    top: -5px;
    right: -20px;
  }
}

.doggie-petname-input {
  font-size: 25px;
  width: max-content;
  margin: 0 auto;
}

.text-center {
  width: max-content;
  margin: 0 auto;
}

.btn-gradient{
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #07a65f;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;

  &:active {
    background-color: #46ad59;
    color: white;
  }
}

.btn-gradient-edit{
  transform: translateX(-50%);
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #07a65f;
  transition: background 0.3s ease;
  border: 1px solid #000000;

  &:active {
    background-color: #46ad59;
    color: white;
  }
}
