<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid justify-content-center my-2 position-relative">

    <%= link_to dashboard_path, class: "position-absolute btn-back" do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>

    <% case action_name %>
    <% when "profile" %>
      <% title = "My Profile" %>
    <% when "calendar" %>
      <% title = "Calendar" %>
    <% when "index" %>
      <% title = "Medications" %>
    <% when "show" %>
      <% title = "Medication" %>
    <% when "new" %>
      <% title = "Add a new medication" %>
    <% end %>

    <h1 class="m-0 fw-bold"><%= title %></h1>
  </div>
</div>
