<div class="dashboard-container">
  <div class="dashboard-docdoggie">
    <div class="image-background" style="background-image: url('<%= image_path "backgrounds/park.png" %>')">
    </div>
    <img class="docdoggie-pet" src="" alt="">
  </div>
  <div class="dashboard-header">
    <h1>"Doggie Name"</h1>
    <h3>"Stats"</h3>
  </div>
  <div class="dashboard-items">
    <div class="my-profile">
    <h3>My Profile</h3>
    </div>
    <div class="my-medications">
      <h3>My Medications</h3>
    </div>
    <div class="user-calendar">
      <h3>Calendar</h3>
    </div>
    <div class="add-medication">
      <h3>Add Medication</h3>
    </div>
  </div>
</div>
