<div id="homeCarousel" class="carousel carousel-dark slide home-background" style="background-image: url('<%= image_path "backgrounds/park-long.png" %>')" data-bs-interval="false">
  <div class="carousel-inner" style="height: 100vh;">
    <div class="carousel-item active h-100">
      <div class="home-info-1">
        <h2 class="home-info-text">You’re someone that needs to take medication daily.</h2>
        <h2 class="home-info-text">It’s important.</h2>
        <h2 class="home-info-text">We understand how boresome and even distressing it can be...</h2>
      </div>
    </div>

    <div class="carousel-item h-100 position-relative">
      <div class="home-info-2">
        <h1 class="home-info-text">"Huh? What is this?"</h1>
      </div>
      <div class="box-frame">
        <%= image_tag "boxes/closed-box.png", class: "closed-box" %>
      </div>
    </div>

    <div class="carousel-item h-100 position-relative">
      <div class="home-info-3">
        <h2 class="home-info-text">"Schedule your medication reminders with a furry friend!"</h2>
      </div>
        <div class="btn-home">
        <%= link_to "Meet your friend!", new_user_registration_path %>
        </div>
      <div>
      <div class="box-frame">
        <%= image_tag "boxes/open-box.png", class: "open-box" %>
      </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" style="background-image: none" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="background-image: none" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%# <p class="product-offer">Schedule your medication reminders with a furry friend</p>
        <a class="btn btn-gradient home-button" href="#">Sign up</a> %>
