
<div class="home-background position-relative" style="background-image: url('<%= image_path "backgrounds/park-long.png" %>')">
  <p class="product-offer">Schedule your medication reminders with a furry friend</p>
  <a class="btn btn-gradient home-button" href="#">Sign up</a>
</div>
