<div class=container>
  <div>
        <div class="image-background" style="background-image: url('<%= image_path "backgrounds/park.png" %>')">
    <h3></h3>
    <a class="btn btn-gradient" href="#">Sign up</a>
  </div>
</div>
