.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.swal-footer {
  text-align: center;
}

.swal-title {
  font-family: 'Nunito';
}

.swal-text {
  font-family: 'Nunito';
}

.swal-button {
  font-family: 'Nunito';
}
