.links-devise{
  color: #66946e;
  top: 70px;
  
  &:hover {
    color: #66946e;
  }
}

.button-sign-up{
  position: relative;
}

.link-box{
  margin-top: 20px;
  text-align: center;
}

.links-fypass{
  color: black;
}
