.login-h2{
  text-align: center;
  font-size: 30px;
}

.btn-login {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #07a65f;
  transition: 0.3s ease;
  border: 1px solid #07a65f;
  color: white;
  font-weight: bold;
  font-size: 20px;

  &:active {
    color: white !important;
    background-color: #008247 !important;
  }

  &:hover {
    color: white !important;
    background-color: #008247 !important;
  }

  input {

    &:visited {
      color: white;
    }
  }
}
