.signup-h2{
  text-align: center;
  font-size: 30px;
}


input {
  color: white;
  font-weight: bold;
  font-size: 20px;

  &:active {
    color: white;
    background-color: #67c679;
  }

  &:visited {
    color: white;
  }
}

.position-signup-button {
  position: relative;
  top: 50px;
}
